body {
    background-color: #f5f5dd;
}

#header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #deb887;
    text-align: center;
}

#header h1 {
    color: #0000f9;
}

#header blockquote {
    background-color: #fed700;
    font-weight: bold;
    border-left: 1px dotted black;
    border-top: 1px dotted black;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}

.gambar {
    text-align: center;
}

.gambar img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.b {
    font-size: 40px;
    color: blue;
}

.koleksi {
    display: flex;
    justify-content: space-around;
}

.koleksi img {
    width: 200px;
    height: 200px;
}

.promo {
    text-align: center;
}

.promo h2, .promo h3 {
    color: red;
}

.promo ol {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
